:root{
    --first-color: #89264D;
}
h1{
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bold;
    font-size: 50px;
}
h2, p{
   font-family: 'Roboto Condensed', sans-serif;
    font-weight: normal;
}
a{
    color: var(--first-color);
}
a:hover{
    color: #31D2F2;
}
body{
    background-color: #f9f2e0;
}
.description{
    margin-top: 40px;
    margin-bottom: 30px;
}
.name{
    color: var(--first-color);
   
}
.details{
    text-align: center;
    margin-top: 70px;  
}
.top{
    display: flex;
    justify-content: end;
}
div li{
    display: inline;
    list-style: none;
}
.list{
    margin-right: 100px;
}
footer{
    background-color:#F8F9FA ;
    margin: 30px 200px;
}
.button{
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}
.email-link{
    display: flex;
    justify-content: center;
}
.social-links{
    display: flex;
    justify-content: center;
}
.icon{
    padding: 5px;
    background-color:  grey;
    border-radius: 10px;
}
@media (max-width:990px) {
    .description{
        text-align: center;
        padding: 0;
        max-width: 100%;
        width: 100%;
        font-size: 40px;
    }
    .name{
        font-size: 50px;
    }
    .paragraph{
        font-size: 25px;
    }
    .details{
        font-size: 30px;
    }
    footer{
        font-size: 30px;
        margin: 10px 50px;
    }
    .email-link{
        font-size: 20px;
    }
}

